livekit-agents
livekit-plugins-assemblyai
livekit-plugins-openai
livekit-plugins-silero>=0.7.5
livekit-plugins-turn-detector>=0.4.3
livekit-plugins-noise-cancellation>=0.2.0
python-dotenv==1.1.0
openai>=1.72
mcp



